<form>
    <div class='popup-form-item'><span class='popup-label'>Nombre: </span><span>{{denominacion}}</span></div>
    <div class='popup-form-item'><span class='popup-label'>Dirección: </span><span>{{direccion}}</span></div>
    <div class='popup-form-item'><span class='popup-label'>Promotor: </span><span>{{promotor}}</span></div>
    <div class='popup-form-item'>{{{url}}}</div>
</form>